<div class="alert alert-block alert-info">
Notebook Created By: Tazeem Nazir
</div>

## Strings:
Python has a built-in string class name "str" with many handy features. String literals can be enclosed by either double or single quotes, although single quotes are more commonly used. Python strings are "immutable" which means they cannot be changed after they are created.

In [9]:
# Creating String
str1 = 'Hello World'
print(str1)

Hello World

In [10]:
# Accessing string elements
str2 = 'Learning Python'
str2[2]

'a'

In [11]:
# Slicing
str3 = "My Name is Tazeem"
str3[11:]

'Tazeem'

In [20]:
# Reverse string
str1 = 'Hello'
str1[::-1]

'olleH'

In [14]:
# String Concatenation
str1 = 'I am Learning '
str2 = 'Python'
text = str1 + str2
print(text)

I am Learning Python

**str():** It converts values to a string form so they can be combines with other strings

In [15]:
num = 123
str1 = '456'
text = str(num) + str1
print(text)

123456